controller:
  replicaCount: 1

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  admissionWebhooks:
    enabled: true

  service:
    type: LoadBalancer
    externalTrafficPolicy: Local
