name: ci

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/terraform/envs/dev
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend yet)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate
